.features {
    background: #fafafa;
}

.features-header {
    text-align: center;
    margin-bottom: 64px;
}

.feature-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
}

.feature-description {
    color: #666;
    line-height: 1.6;
    font-size: 0.9375rem;
}